@import "scaffolding";
@import "header";
@import "about";
@import "facts";
@import "symptoms";
@import "reasons";

body {
  border: .1px solid transparent;
}

.button-for-all {
  background-color: $green;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-weight: 500;
}
