/*$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$bg-brown: #826550;*/
$green: #7eb252;
$darkgreen: #a4c58c;
$lightgreen: #f6f9f3;
$brown: #9a9a9a;
$tablet-min-width: 321px;
$desktop-width: 1200px;
$mobile-width-only: 600px;


